extends /base.pug
block vars
block head
  link(href="https://fonts.googleapis.com/css2?family=Goldman&family=Noto+Sans+TC&family=Roboto:wght@300&family=Rubik&display=swap",rel="stylesheet")
  style(type="text/css"): :stylus
    .glyphs
      grid-template-columns: repeat(7,minmax(64px,1fr))
      display: grid
      gap: 10px
      color: #39414c
    .viewer
      font-family: Roboto
      font-size: 128px
    .viewer.active
      background: #ddd
      .inner
        background: #eee
        i
          background: rgba(255,200,128,.5)
          outline: 1px solid #f00
        i:before
          background: rgba(255,255,0,.3)
          outline: 1px solid #ff0
        div
          background: rgba(128,200,255,.5)
          outline: 1px solid #09f
block body
  body
    .w-1200.mx-auto.rwd
      .text-center.my-4.py-4
        h1 ldIconFont
        p.text-muted icon font for loading.io UI
      .glyphs
        .glyph(ld-each="glyph"): div(ld="cell")
          .icon: i(ld="icon")
          .name #[span.mr-1(ld="name")]#[i(ld="icon")]
          .code(ld="code")

  include ldcv.view.pug

block script
  +script("/js/index.js")
