extends /base.pug
block vars
block prehead
  base(href=".")
block head
  //-link(rel="preload",href="assets/lib/ldif/dev/line-16-light/ldif.css",as="style")
  //-link(rel="preload",href="assets/lib/ldif/dev/line-16-light/ldif.ttf",as="font",crossorigin)
  link(href="https://fonts.googleapis.com/css2?family=Goldman&family=Noto+Sans+TC&family=Roboto:wght@300&family=Rubik&display=swap",rel="stylesheet")

block body
  .w-1200.mx-auto.rwd
    .text-center.my-4.py-4
      h1 ldIconFont
      p.text-muted icon font for loading.io UI. #[a(href="github/") Demo using Github-like UI]
      .btn-group
        .btn.btn-outline-primary(ld-each="switch")
      //- it's possible to use css mask to color SVG icon via img tag. following is a proof of concept code.
      //- yet mask sometimes overflow thus introducing clipping around icon corner.
      //- we adjust mask size to make it a little smaller yet this make icon size inaccurate.
      //- div(style="color:#f92;font-size:64px"): div(style="width:1em;height:1em"): .aspect-ratio.ratio-1by1.border(style="background-color:currentColor;-webkit-mask:url(/assets/lib/ldif/dev/ldif.svg#heart);-webkit-mask-size:.8em;-webkit-mask-repeat:no-repeat;-webkit-mask-position:center center")
    .glyphs
      .glyph(ld-each="glyph"): div(ld="cell")
        .icon: i(ld="icon")
        .name #[span.mr-1(ld="name")]#[i(ld="icon")]
        .code(ld="code")
  .ldcv.ldcv-font.scroll: .base.w-1024.rwd: .inner.card: .card-body: .chooser

  include ldcv.view.pug

block script
  +script("js/index.js")
