i
  vertical-align: -5%

@font-face
  font-family: 'ldi'
  font-weight: normal
  font-style: normal
  /* user should set this according to where they put their files.
  src:
    url('assets/fonts/ldi.ttf?x74ll4') format('truetype'),
    url('assets/fonts/ldi.woff?x74ll4') format('woff'),
    url('assets/fonts/ldi.svg?x74ll4#ldi') format('svg')
  */
