@font-face
  font-family: 'ldi'
  font-weight: normal
  font-style: normal
  src: url('/assets/lib/ldif/dev/ldif.ttf') format('truetype')
  //src: url('/assets/lib/custom/ldif.ttf') format('truetype')


body
  font-size: 16px
  font-family: Roboto, sans-serif

.avatar
  width: 16px
  height: 16px
  background: #ddd
  display: inline-block

.glyphs
  display: flex
  flex-wrap: wrap
  .glyph
    cursor: pointer
    margin: 14px 14px 36px
    width: 128px
    flex: 0 0 auto
    text-align: center
    .name
      font-size: 16px
    .icon i
      font-size: 45px
      color: #222
    .code
      color: #999
      font-family: 'Roboto Mono', monospace
    svg
      width: 32px
      height: 32px

i
  display: inline-block
  text-align: left
