extends /base.pug
block prehead
  base(href="/")
block head
  +css("assets/lib/ldif/dev/index.min.css")
  //-+css("assets/lib/ldif/dev/line-16-light/ldif.css")

  link(rel="preconnect" href="https://fonts.googleapis.com")
  link(rel="preconnect" href="https://fonts.gstatic.com" crossorigin)
  link(href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet")

  style(type="text/css"): :stylus
    html, body
      line-height: 1em
      font-size: 24px
      font-family: Roboto
block body
  .w-1024.rwd.mx-auto.my-4.d-flex
    .flex-grow-1
      .mb-3: span hello #[i.i-comment]
      .mb-3: span hello - 一 #[i.i-comment]
      .mb-3: span hello - 一 #[i.i-file]
      .mb-3: span hello - 一 #[i.i-trophy]
    .flex-grow-1
      .mb-3: span 123#[i.i-globe]
      .mb-3: span 中Kqpj#[i.i-globe]
      .mb-3: span 中#[i.i-globe]
    .flex-grow-1
      .mb-3: span 123#[i.i-spreadsheet]
      .mb-3: span 中Kqpj#[i.i-spreadsheet]
      .mb-3: span 中#[i.i-spreadsheet]
      .mb-3: span 匯出 CSV #[i.i-spreadsheet]

  div(style="position:fixed;top:500px;left:500px"): i.i-trophy
