//- module
.ldcv: .base.w-640.rwd: .inner.card: .card-body.text-center
  .position-absolute(style="line-height:1em;top:.5em;right:.5em"): i.i-close
  .p-4
    h1 Ooops, Incompatible.
    p We don't support Internet Explorer and Edge.
    br
    .m-auto.text-left.text-muted
      p Loading.io is made possible with Animated SVG and other modern web technologies. Unfortunately IE and Edge#[span.text-danger.text-sm: i.i-chevron-down] don't support them.
      p You can keep browsing our website with IE/Edge, but things won't work and will break unexpectedly. We suggest you to use browsers like Google Chrome, Mozilla Firefox or Apple Safari.
      br
      .btn.btn-primary.btn-block.btn-lg.mr-2(data-ldcv-set="") #[i.i-close] Close This Popup

    .text-center.mt-4.text-sm.text-muted #[span.text-danger: i.i-chevron-down] SVG SMIL will be supported in #[a(href="https://caniuse.com/#feat=svg-smil") upcoming version of Edge].

