@font-face
  font-family: 'ldi'
  font-weight: normal
  font-style: normal
  /* this shold be overwritten by users to point to correct path */
  /* src: url('fonts/ldi.ttf') format('truetype') */

i
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'ldi' !important
  speak: none
  font-style: normal
  font-weight: normal
  font-variant: normal
  text-transform: none
  /*vertical-align: -15%*/
  vertical-align: 0
  line-height: 1
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale

@import '../gen/glyphs.styl'
